{% extends 'index.html' %}
{% load static %}

{% block content %}
<div class="stat1" id="stat1_id">
    <div class="first_element" id="first_element" align="center">
        <h1 class="name_in_first">Реперы</h1> <br>
        <hr class="hr1">
    </div>
        <center><h1>Статья 1 - FRIENDLY THUG 52 NGG </h1></center>
        <div class="text" text-align="Times New Roman Italic" >
            <h2 id="tableofcontents_bio">Биография</h2>
            <p>Friendly Thug 52 Ngg метит в то, чтобы стать новой иконой андеграунд-рэпа.
                У него есть все предпосылки для этого: свежее звучание на пересечении джи-фанка, южного рэпа и классического хип-хопа,
                цепляющие тексты о непростой жизни простых пацанов и убийственная искренность подачи.
            </p>

            <h2 id="tableofcontents1">Детство и юность</h2>
            <p> О ранней биографии Александра Романова (таково настоящее имя артиста) известно немного.
                День рождения он празднует 28 мая 2000 года, а его родной город — Санкт-Петербург.
                Любовь к жанру пришла благодаря Eminem и 50 Cent, однако осознание себя как носителя русского языка подарил Витя АК-47.
                Еще на становление Романова как музыканта повлияли андеграундные рэперы the Chemodan Clan и Копюшон Ноу Мо.
                В их песнях парень находил сюжеты, которые откликались в нем, и понимал, что он не один.
                С тех пор Александр захотел и своим слушателям дать почувствовать, что они не одни.
            </p>

            <img class="logo" src="{% static 'pic/52NGG1.jpg' %}" alt="" width="500" height="500">

            <h2 id="tableofcontents2">Музыкальная карьера Friendly Thug 52 Ngg</h2>
            <p>
                Музыкальный путь Александр начинал под псевдонимом Vernalcry, под которым в 2017 году выкладывал в Сеть свои первые треки.
                В них можно было услышать отголоски Dead Dynasty и Pharaoh, но с возрастом музыкант все увереннее обретал собственное звучание и стиль.
                Взяв имя Friendly Thug 52 Ngg, рэпер словно окончательно избавился от подражательности и стал петь о своем и по-своему.
                Темы его творчества, конечно, были не новы и включали в себя типичную для жанра рефлексию по поводу уличной жизни,
                проблем с законом, употребления запрещенных веществ и любовных переживаний.
                Однако музыканта сложно было спутать с кем-то еще — настолько он был неподражаем в своей искренности и
                полнейшем нежелании что-то из себя изображать.
            </p>

            <img class="logo" src="{% static 'pic/52NGG2.jpg' %}" alt="" width="700" height="500">
            <p>
                «Я читаю рэп, мне не надо врать им», — говорил исполнитель в своих песнях, превращая их в своеобразный сторителлинг о собственной жизни.
                Криминальное прошлое, личная жизнь, финансовые достижения и насущные проблемы — все это проговаривается монотонным,
                почти безжизненным речитативом, словно погруженным в полудрему.

                Первый альбом Friendly Thug 52 Ngg под названием Cruiser Aurora вышел в 2022 году и содержал девять треков.
                На один из них — Calmer — в том же году вышел клип, снятый при поддержке ребят из Fast Food Music и набравший на «Ютьюбе» миллионы просмотров.
                О дебютном релизе рэпера тепло отозвался Big Baby Tape.
                Молодой исполнитель, свято чтущий законы жанра и одновременно привносящий в него свежую струю, скоро обзавелся преданной армией поклонников.
                Хотя он вроде бы и не стремился к медийности, более именитые коллеги стали подтягивать его в свои проекты и делать с ним совместные треки.
                Например, весной 2023-го у Friendly Thug 52 Ngg вышел фит с OBLADAET, который назывался «Дом с привидениями» и попал в топ-чарт ВК.
                В том же году Романов стал сотрудничать с Yanix, White Punk, T-Fest и даже со Скриптонитом,
                однако для него по-прежнему самыми близкими единомышленниками оставались друзья из объединения «52» — Alblak 52,
                MyDee 52, Glocki 52 и Saint Prince 52, которых музыкант называет своей бандой.
            </p>
        </div>
    </div>
{% endblock %}

