{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="stat2" id="stat2_id">
    <div class="first_element" id="first_element" align="center">
        <h1 class="name_in_first">Певцы</h1> <br>
        <hr class="hr1">
    </div>

     </div>
        <center><h1>Статья 2 - Николай Викторович Басков </h1></center>
        <div class="text" text-align="Times New Roman Italic" >
            <h2 id="tableofcontents_bio">Биография</h2>
            <p>Николай Викторович Басков — эстрадный и оперный певец, композитор, актёр, педагог, народный артист России.
            </p>

            <h2 id="tableofcontents1">Детство и образование</h2>
            <p> Николай Викторович Басков родился 15 октября 1976 года в Москве. Отец — Виктор Басков, военнослужащий.
                Мать — Елена Баскова, преподаватель математики.
                Певец рассказал, что его качества веселого и позитивного человека достались ему от мамы.

                В детстве проживал в Балашихе, затем переехал с родителями в Германию, где служил его отец.
                Там же пошел в школу, после чего вернулся на родину. Его семья часто переезжала.
                За школьные годы Басков успел пожить в Балашихе, в городе Чадан в Тыве, в Новосибирске
                (здесь он в 1989 году окончил музыкальную школу в золотой медалью и впервые поднялся на сцену).
                Затем вернулся в Москву, где окончил среднюю школу №1113 c углубленным изучением музыки и хореографии.

            </p>

            <img class="logo" src="{% static 'pic/baskov1.png' %}" alt="" width="500" height="500">
            <p>
                В 1993 году поступил в ГИТИС, 1 год проучился на факультете музыкального театра, затем на время оставил учебу.
                С того же года занимался вокалом с заслуженной артисткой России Лилианой Шеховой.
                В 2001 году окончил ГИТИС по классу камерного и оперного пения.
            </p>
            <h2 id="tableofcontents2">Карьера</h2>
            <p>
                Музыкальный путь Александр начинал под псевдонимом Vernalcry, под которым в 2017 году выкладывал в Сеть свои первые треки.
                В них можно было услышать отголоски Dead Dynasty и Pharaoh, но с возрастом музыкант все увереннее обретал собственное звучание и стиль.
                Взяв имя Friendly Thug 52 Ngg, рэпер словно окончательно избавился от подражательности и стал петь о своем и по-своему.
                Темы его творчества, конечно, были не новы и включали в себя типичную для жанра рефлексию по поводу уличной жизни,
                проблем с законом, употребления запрещенных веществ и любовных переживаний.
                Однако музыканта сложно было спутать с кем-то еще — настолько он был неподражаем в своей искренности и
                полнейшем нежелании что-то из себя изображать.
            </p>

            <img class="logo" src="{% static 'pic/baskov2.png' %}" alt="" width="700" height="500">
            <p>
               Эстрадная карьера певца началась в 2000 году, когда вышел клип на песню «Памяти Карузо» .
                Басков дал несколько сольных концертов в ГЦКЗ «Россия» в Москве.
                Тогда же был издан первый альбом Баскова «Посвящение».

                С 2000 по 2004 солировал в оперной труппе Большого театра. С 2002 брал уроки вокала у певицы Монсеррат Кабалье.
                Вместе с педагогом выступал с концертами.
                В 2003 состоялось первое сольное выступление Баскова в Московской консерватории им. П. И. Чайковского.

                В 2003 году подписал контракт с двумя театрами в Испании — Liceo в Барселоне и Teatro Real в Мадриде.

                С 2004 по 2005 годы солировал в Нижегородском театре оперы и балета им. А. С. Пушкина.
                Затем с 2005 по 2012 годы был солистом в Марийском государственном театре оперы и балета им.
                Эрика Сапаева в Йошкар-Оле.


            </p>

            <img class="logo" src="{% static 'pic/baskov3.png' %}" alt="" width="700" height="500">
            <p>
                С 2000 по 2018 годы выпустил несколько альбомов. Среди них — «Посвящение на бис»,
                «Мне 25», «Никогда не говори прощай». Последний его диск «Christmas songs» увидел свет в 2018 году.

                За плечами Баскова несколько ТВ-мюзиклов: «Золушка» (2002), «Снежная королева» (2003),
                «Королевство кривых зеркал» (2007), «Золотой ключик» (2009) и др. Сыграл камео в сериалах
                «Моя прекрасная няня», «Воронины». Озвучивал мультипликационные ленты «История игрушек: Большой побег»
                (2010), «История игрушек: Гавайские каникулы» (2011).

                Николай Басков вел несколько шоу на ТВ, в частности, «Дом» на ТНТ, «Брачное агентство Николая Баскова»,
                «Субботний вечер» на канале «Россия-1», «Большая маленькая звезда» на СТС.
                В 2005-2006 годах участвовал в игре «Что? Где? Когда?» в составе команды Михаила Барщевского.
                С 2021 года ведет программы «Утренняя почта с Николаем Басковым» и «Дуэты» на канале «Россия-1».

                В 2011-2016 годы занимал должность профессора кафедры вокала МГГУ им. М. А. Шолохова.
                С 2016 преподает на музыкальном факультете Института изящных искусств МПГУ.
                Автор нескольких монографий и научных статей (например, «Мадаптация в истории музыкального искусства»).

            </p>

        </div>
    </div>

{% endblock %}
